@font-face{
    font-family: "Batman";
    src: url("/fonts/BATMAN.ttf");
}.fuente1{
    font-family: "Batman";
}
@font-face{
    font-family: "Transformer";
    src: url("/fonts/Transformers\ Movie.ttf");
}
.fuente2{
    font-family: "Transformer";
}
.fa-facebook{
    font-size: 25px;
    color: #1877f2;
}
.fa.instagram{
    font-size:25px;
    color: #be3764;
}
.fa-github{
    font-size:#333;
}
.fa-whatsapp{
    font-size:25px;
    color: #034e25;
}
.fa-linkedin{
    font-size:25px;
    color:#0077b5;
}
#Nombre{
    border: solid 1px;
    padding: 25px;
}
legend{
    border: solid 2px;
    border-radius: 15px;
    background-color: gray;
}
div{
    width: 50%;
    margin: auto
}
body{
    background-color: #3989b4;
}
div{
    background-color: white;
    border: 1px solid black;
}