@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Quientessential&display=swap');
body{
    background-color: bisque;
}
.contenedor{
    background-color: white;
    margin: auto;
}

.fuente1{
    font-family: Arial, Helvetica, sans-serif;
}
.fuente2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fuente3{
    font-style: italic;
}
.fuente4{
    font-style: oblique;
}
.fuente5{
    font-style: normal;
}
.fuente6{
    font-weight: bold;
}
.fuente7{
    font-weight: bolder;
}
.fuente8{
    font-style: small;
}
.fuente9{
    font-variant: small-caps;
}
.fuente10{
    font-size: 25px;
}
.fuente11{
    font-variant: normal
}

@font-face{
    font-family: "OdibeeSans";
    src: url("/fonts/OdibeeSans-Regular.ttf");
}
@font-face{
    font-family: "Quintessential";
    src: url("/fonts/LibreBaskerville-Italic.ttf");
}
@font-face{
    font-family: "Batman";
    src: url("/fonts/BATMAN.ttf");
}
@font-face{
    font-family: "Transformer";
    src: url("/fonts/Transformers\ Movie.ttf");
}

.fuente12{
    font-family: "OdibeeSans";
}
.fuente13{
    font-family: "Quintessential";
}
.fuente14{
    font-family: "Batman";
}
.fuente15{
    font-family: "Transformer";
}
.fuente16{
    font-family: "Japon";
}